@import "tailwindcss";

@theme {
  --color-background: #111827;
  --color-teal: #2dd4bf;
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-dm-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  h1, h2, h3 {
    font-family: var(--font-dm-sans);
  }
}

/* Hide scrollbar arrows on WebKit browsers */
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #101828;
}

::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
